{{! ADD AUTHOR SOCIAL LINKS HERE }}
{{! THESE SOCIAL LINKS WILL APPEAR IN THE PAGE FOOTER }}
{{! REMOVE ANY UNWATED LINKS }}

{{! RSS - LEAVE DEFAULT}}
<a href="{{@blog.url}}/rss/" target="_blank" class="social social_solid rss"><i class="fa fa-rss"></i></a>

{{! TWITTER }}
<a href="http://twitter.com/ben336" target="_blank" class="social social_solid twitter"><i class="fa fa-twitter"></i></a>


{{! GOOGLE+ }}
<a href="https://plus.google.com/+BenMcCormick336" target="_blank" class="social social_solid google"><i class="fa fa-google-plus"></i></a>


