{{! ADD AUTHOR SOCIAL LINKS HERE }}
{{! THESE SOCIAL LINKS WILL APPEAR IN THE PAGE SIDEBAR }}
{{! REMOVE ANY UNWATED LINKS }}

{{! RSS - LEAVE DEFAULT }}
<a href="{{@blog.url}}/rss/" target="_blank" class="social social_outline rss"><i class="fa fa-rss"></i></a>

{{! TWITTER }}
<a href="http://twitter.com/ben336" target="_blank" class="social social_outline twitter"><i class="fa fa-twitter"></i></a>
<a href="https://plus.google.com/+BenMcCormick336/" target="_blank" class="social social_outline google"><i class="fa fa-google-plus"></i></a>

{{! GITHUB }}
<a href="http://github.com/ben336" target="_blank" class="social social_outline github"><i class="fa fa-github"></i></a>
{{!
<a href="http://linkedin.com" target="_blank" class="social social_outline linkedin"><i class="fa fa-linkedin"></i></a>
}}
